<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="My Connection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DBWebEscuela;Integrated Security=true"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1">
     
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
 
 
</configuration>