.form {
    margin: auto;
    margin-bottom: 32px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: var(--fondo-form);
    max-width: 400px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 10px 15px 5px rgb(5 5 5 / 30%);
    position: relative;
    transition:all .3s;
}


.form__img {
    height: 6rem;
    width: 6rem;
    float: left;
    float: right;
    margin: auto;
}

#container img {
    object-fit: cover;
}


.form__title {
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}

.form__icon {
    display: block;
    float: left;
    height: 2rem;
    transition: 0.5s;
    border-radius: 1rem;
}

.form__label {
    display: block;
    height: 2rem;
    color: grey;
}

#atras {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    padding: 12px;
    transition: 0.5s;
}

    #atras:hover {
        cursor: pointer;
        color: #fff;
        background: var(--red-sweet);
        
    }

.form__container #titulo {
    font-size: 2rem;
    display: inline;
    text-align: center;
}

.form__container--buttons {
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto auto;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-content: space-between;
    justify-items: stretch;
}

.form__icon:hover {
    background-color: red;
}

.form__link {
    font-weight: 400;
    color: #000;
}

.form__container {
    width: 85%;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form__group {
    position: relative;
    color: grey;
}

.form__input {
    width: 100%;
    background: none;
    color: var(--red-sweet);
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-family: "Roboto", sans-serif;
}

    .form__input:valid {
        background-color: rgba(159, 168, 158, 0.1);
    }

    .form__input:focus,
    .form__input:not(:placeholder-shown) {
        color: var(--red-sweet);
    }

        .form__input:focus + .form__label,
        .form__input:not(:placeholder-shown) + .form__label {
            transform: translateY(-12px) scale(0.7);
            transform-origin: left top;
            color: var(--red-sweet);
        }

.form__label {
    color: var(color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form__submit {
    background-color: var(--red-sweet);
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 0.5em 0;
    border: none;
    border-radius: 0.5em;
}



.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--red-sweet);
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.form__submit:hover {
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.8;
    outline: 1px solid white;
}

.form__reset:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

#select {
    padding: 8px;
    margin-left: 26px;
    color: var(--color-fuente);
    background: var(--fondo-form);
    border: none;
    border-bottom: 1px solid grey;
    transition: all .5s;
}

    #select:hover {
        border-bottom: 1px solid var(--red-sweet);
    }

#user {
    font-size: 5rem;
    margin: auto;
}

#userNombre {
    text-align: center;
    font-size: 2rem
}

.file {
    margin-top: 0.5rem;
}

.fecha {
    float: right;
}

.perfil {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin: auto;
    border-radius: 50%;
}


@media (max-width: 600px) {
    .form {
        margin-top: 1rem;
        display: flex;
        align-items: baseline;
        width: 100%;
        background: var(--fondo-form);
        padding: 32px;
        border-radius: 10px;
        box-shadow: 0 10px 15px 5px rgb(5 5 5 / 30%);
    }
}
