@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto+Condensed:ital,wght@0,400;1,300;1,700&display=swap');

:root {
    --color-fuente: #ffffff;
    --color-fondo: #15202B;
    --fondo-form: #1C2732;
    --red-sweet: #0096FF;
}
[tema="light"] {
    --color-fuente: #202020;
    --color-fondo: #dddddd;
    --fondo-form: #cccccc;
    --red-sweet: #F55353;
}


[tema="dark"] {
    --color-fuente: #ffffff;
    --color-fondo: #15202B;
    --fondo-form: #1C2732;
    --red-sweet: #0096FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--color-fondo); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--black); /* creates padding around scroll thumb */
}
body {
    background: var(--color-fondo);
    color: var(--color-fuente);
    font-family: 'Hurricane', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    transition: all .3s;
}

#Section {
    float: right;
    width: 85%;
}

    #Section .portada {
        height: 950px;
        width: 100%;
        object-fit:cover;
    }

/* The switch - the box around the slider */
.container-switch {
    padding: 12px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.switch {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 50%;
        left: 10%;
        bottom: 15%;
        box-shadow: inset 8px -4px 0px 0px #fff000;
        background: var(--background);
        transition: .5s;
    }

input:checked + .slider {
    background-color: #522ba7;
}

    input:checked + .slider:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px #fff000;
    }
@media (max-width: 600px) {
    #Section {
        width: 100%;
        padding: 12px;
    }
}
